<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <h2>Guitar Creator<br><small>By <i>The Guitar Heroes</i></small></h2>
    </div>
    <hr>
    <div>

    </div>
    <div class="row">
        <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
            <div class="embed-responsive embed-responsive-16by9">
                <img class="img-responsive" src="/img/guitar-banner.jpg" alt="A store full of guitars">
            </div>
        </div>
    </div>
    <hr>
</section>
